.icon.icon-filetype-markdown {
	background-image: url(../img/text-code.svg);
}

.md-hidden {
	width: 0% !important;
	display: none !important;
}
.md-full {
	width: 100% !important;
}

#editor_controls button.editor_control {
    float: right;
    width: 100px;
    border: none;
    margin: 8px !important;
    border-radius: 0;
    right: 0;
}

#editor_controls button.editor_control:hover,
#editor_controls button.editor_control:active,
#editor_controls button.editor_control:focus,
#editor_controls button.editor_control.active {
	background-color: #2c2c2c;
	color: #fff;
}

#editor_controls.md-header {
	border-bottom: 1px #ccc solid;
}


#preview.text-markdown {
	background: #fff !important;
	border-left: 1px #ccc solid;
	padding: 32px !important;
}

@media (max-width: 768px) {
	#editor_container.hasPreview #preview {
	    display: block !important;
	}
	#editor_container.hasPreview #preview {
	   background: #fff !important;
	}
	#editor {
		width: 50% !important;
	}
	#editor.md-full {
		width: 100% !important;
	}
}

@media (max-width: 620px) {
	.editor_control {
		width: 30px !important;
		height: 30px !important;
		overflow: hidden;
		line-height: 1.3rem !important;
	}
}
